In [16]:
# 导入 swindex 模块
from opendatatools import swindex

In [39]:
# 获取申万指数列表
df, msg = swindex.get_index_list()
df.head(20)

   index_code index_name section_name  start_date
0      803611     申万价值优势         量化策略  2004/12/31
1      803612     申万价值发现         量化策略  2004/12/31
2      803613     申万价值稳健         量化策略  2004/12/31
3      801001       申万50         市场表征  1999/12/30
4      801002      申万中小板         市场表征  1999/12/30
5      801003       申万Ａ指         市场表征  1999/12/30
6      801005      申万创业板         市场表征   2009/11/5
7      801300    申万300指数         市场表征  1999/12/30
8      801901       基金重仓         市场表征  1999/12/30
9      801903       基金核心         市场表征  1999/12/30
10     801905       申万重点         市场表征  1999/12/30
11     801250       申万制造         市场表征  1999/12/30
12     801260       申万消费         市场表征  1999/12/30
13     801270       申万投资         市场表征  1999/12/30
14     801280       申万服务         市场表征  1999/12/30
15     802611       申万传媒         市场表征  2004/12/30
16     802613       养老指数         市场表征  2016/10/31
17     802612       申万电子         市场表征  2004/12/30
18     801010       农林牧渔         一级行业  1999/12/30
19     801020         采掘         一级行业  1999/12/30

In [24]:
df['section_name'].drop_duplicates()

0         量化策略
3         市场表征
18        一级行业
52        风格指数
70        定制发布
71    申万商品期货指数
79         新三板
Name: section_name, dtype: object

In [40]:
df[df.section_name == '一级行业']

   index_code index_name section_name  start_date
18     801010       农林牧渔         一级行业  1999/12/30
19     801020         采掘         一级行业  1999/12/30
20     801030         化工         一级行业  1999/12/30
21     801040         钢铁         一级行业  1999/12/30
22     801050       有色金属         一级行业  1999/12/30
23     801060       建筑建材         一级行业  1999/12/30
24     801070       机械设备         一级行业  1999/12/30
25     801080      电子元器件         一级行业  1999/12/30
26     801090       交运设备         一级行业  1999/12/30
27     801100       信息设备         一级行业  1999/12/30
28     801110       家用电器         一级行业  1999/12/30
29     801120       食品饮料         一级行业  1999/12/30
30     801130       纺织服装         一级行业  1999/12/30
31     801140       轻工制造         一级行业  1999/12/30
32     801150       医药生物         一级行业  1999/12/30
33     801160       公用事业         一级行业  1999/12/30
34     801170       交通运输         一级行业  1999/12/30
35     801180        房地产         一级行业  1999/12/30
36     801190       金融服务         一级行业  1999/12/30
37     801200       商业贸易         一级行业  1999/12/30
38     801210       餐饮旅游         一级行业  1999/12/30
39     801220       信息服务         一级行业  1999/12/30
40     801230         综合         一级行业  1999/12/30
41     801710       建筑材料         一级行业  1999/12/30
42     801720       建筑装饰         一级行业  1999/12/30
43     801730       电气设备         一级行业  1999/12/30
44     801740       国防军工         一级行业  1999/12/30
45     801750        计算机         一级行业  1999/12/30
46     801760         传媒         一级行业  1999/12/30
47     801770         通信         一级行业  1999/12/30
48     801780         银行         一级行业  1999/12/30
49     801790       非银金融         一级行业  1999/12/30
50     801880         汽车         一级行业  1999/12/30
51     801890       机械设备         一级行业  1999/12/30

In [19]:
# 获取申万指数成分信息
df, msg = swindex.get_index_cons('801040')
df

   index_code index_name          start_date   weight
0      000708       大冶特钢 2015-07-29 00:00:00   0.6239
1      000709       河钢股份 2008-06-02 00:00:00   4.1277
2      000717       韶钢松山 2008-06-02 00:00:00   3.0578
3      000761       本钢板材 2008-06-02 00:00:00   0.6290
4      000778       新兴铸管 2009-06-01 00:00:00   3.8359
5      000825       太钢不锈 2017-07-03 00:00:00   4.3453
6      000898       鞍钢股份 2008-06-02 00:00:00   2.9310
7      000932       华菱钢铁 2008-06-02 00:00:00   4.2571
8      000959       首钢股份 2008-06-02 00:00:00   1.6933
9      002075       沙钢股份 2017-07-03 00:00:00   6.8167
10     002110       三钢闽光 2008-06-02 00:00:00   4.0276
11     002318       久立特材 2009-11-23 00:00:00   1.0456
12     002443       金洲管道 2012-10-08 00:00:00   0.9540
13     002478       常宝股份 2012-10-08 00:00:00   0.7751
14     002756       永兴特钢 2015-05-06 00:00:00   0.7681
15     600010       包钢股份 2008-06-02 00:00:00  12.0725
16     600019       宝钢股份 2008-06-02 00:00:00  16.3186
17     600022       山东钢铁 2008-06-02 00:00:00   3.6232
18     600117       西宁特钢 2008-06-02 00:00:00   0.6278
19     600126       杭钢股份 2008-06-02 00:00:00   0.6578
20     600231       凌钢股份 2008-06-02 00:00:00   1.0912
21     600282       南钢股份 2008-06-02 00:00:00   3.4929
22     600307       酒钢宏兴 2008-06-02 00:00:00   2.2497
23     600399      *ST抚钢 2008-06-02 00:00:00   1.6024
24     600507       方大特钢 2011-10-10 00:00:00   2.1237
25     600569       安阳钢铁 2008-06-02 00:00:00   1.6475
26     600581       八一钢铁 2008-06-02 00:00:00   1.5857
27     600782       新钢股份 2009-06-01 00:00:00   2.6431
28     600808       马钢股份 2008-06-02 00:00:00   3.5982
29     601003       柳钢股份 2008-06-02 00:00:00   1.5858
30     601005       重庆钢铁 2018-07-16 00:00:00   4.8323
31     603878       武进不锈 2016-12-01 21:21:00   0.3581

In [36]:
# 获取申万指数日线
df, msg = swindex.get_index_daily('801040')
df.tail(20)

           amount    close       date     high      low     open         vol
4480   5810798179  2580.99 2018-07-04  2622.34  2574.47  2574.52  1135277967
4481   4566360551  2509.97 2018-07-05  2560.12  2507.67  2560.12   968486836
4482   4419332200  2526.22 2018-07-06  2549.05  2489.34  2504.49   946944251
4483   4468407439  2586.60 2018-07-09  2587.83  2537.11  2540.41   870432831
4484   5650783818  2618.04 2018-07-10  2636.72  2580.62  2580.62  1042313172
4485   4709644014  2583.35 2018-07-11  2587.18  2541.89  2566.00   893596171
4486   5869825987  2630.89 2018-07-12  2640.93  2597.41  2597.41  1081922523
4487   5736538215  2642.66 2018-07-13  2661.27  2614.53  2640.10  1014290176
4488   3918306410  2635.78 2018-07-16  2647.23  2618.89  2639.96   666897555
4489   4003854198  2601.77 2018-07-17  2625.66  2576.88  2623.82   681257203
4490   3448545707  2592.14 2018-07-18  2622.20  2591.70  2605.32   621140437
4491   6206422302  2638.94 2018-07-19  2648.83  2609.15  2609.15  1082396855
4492   5931049224  2670.70 2018-07-20  2670.76  2604.46  2631.98  1074295469
4493   8204466930  2736.37 2018-07-23  2745.88  2645.69  2649.79  1454597629
4494  13120801390  2811.14 2018-07-24  2869.00  2777.25  2777.25  2240875425
4495  10705729951  2863.74 2018-07-25  2892.43  2797.25  2810.90  2030123769
4496   7250850920  2835.66 2018-07-26  2863.36  2814.87  2851.14  1357808617
4497   9310444138  2885.78 2018-07-27  2895.02  2832.40  2866.16  1767200012
4498  10083074612  2902.99 2018-07-30  2953.46  2879.37  2887.25  1827252229
4499   5972629769  2886.14 2018-07-31  2899.53  2844.01  2884.07  1029216898

In [38]:
# 获取申万指数每日的量化指标（pe、pb等）
df, msg = swindex.get_index_dailyindicator('801040', '2018-01-01', '2018-08-02')
df.head(20)

,avg_float_mv,chg_pct,close,date,dividend_yield_ratio,float_mv,index_code,index_name,pb,pe,turn_rate,volume,vwap
0,211.95,-0.13,2796.41,2018-08-02,2.50,"6,782.51",801040,钢铁,1.41,10.06,1.0944,15.78,6.87
1,212.15,-2.98,2800.04,2018-08-01,2.49,"6,788.84",801040,钢铁,1.41,10.07,1.0272,14.81,6.87
2,219.53,-0.58,2886.14,2018-07-31,2.42,"7,025.08",801040,钢铁,1.45,10.38,0.7139,10.29,7.11
3,220.82,0.60,2902.99,2018-07-30,2.40,"7,066.24",801040,钢铁,1.46,10.44,1.2674,18.27,7.15
4,218.77,1.77,2885.78,2018-07-27,2.42,"7,000.73",801040,钢铁,1.45,10.38,1.2257,17.67,7.10
5,214.61,-0.98,2835.66,2018-07-26,2.46,"6,867.56",801040,钢铁,1.43,10.20,0.9418,13.58,7.01
6,217.40,1.87,2863.74,2018-07-25,2.44,"6,956.89",801040,钢铁,1.44,10.30,1.4081,20.30,7.10
7,213.47,2.73,2811.14,2018-07-24,2.48,"6,831.03",801040,钢铁,1.42,10.11,1.5543,22.41,6.97
8,207.30,2.46,2736.37,2018-07-23,2.55,"6,633.54",801040,钢铁,1.38,9.84,1.0089,14.55,6.79
9,201.51,1.20,2670.70,2018-07-20,2.61,"6,448.37",801040,钢铁,1.34,9.61,0.7451,10.74,6.63
10,198.40,1.81,2638.94,2018-07-19,2.65,"6,348.79",801040,钢铁,1.33,9.49,0.7508,10.82,6.53
11,193.80,-0.37,2592.14,2018-07-18,2.70,"6,201.70",801040,钢铁,1.30,9.32,0.4308,6.21,6.44
12,194.20,-1.29,2601.77,2018-07-17,2.68,"6,214.45",801040,钢铁,1.31,9.36,0.4725,6.81,6.47
13,196.78,-0.26,2635.78,2018-07-16,2.65,"6,296.81",801040,钢铁,1.32,9.47,0.4635,6.67,6.56
14,79.33,0.45,2642.66,2018-07-13,2.65,"2,617.82",801040,钢铁,1.34,9.53,1.5000,10.14,6.56
15,78.97,1.84,2630.89,2018-07-12,2.67,"2,606.16",801040,钢铁,1.33,9.49,1.6000,10.82,6.50
16,187.49,-1.32,2583.35,2018-07-11,2.69,"6,187.29",801040,钢铁,1.30,9.32,0.6196,8.94,6.37
17,190.51,1.22,2618.04,2018-07-10,2.64,"6,286.77",801040,钢铁,1.32,9.44,0.7228,10.42,6.47
18,187.71,2.39,2586.60,2018-07-09,2.47,"6,194.27",801040,钢铁,1.30,9.33,0.6036,8.70,6.35
19,182.63,0.65,2526.22,2018-07-06,2.53,"6,026.92",801040,钢铁,1.27,9.11,0.6567,9.47,6.21