In [8]:
from opendatatools import stock
stock.set_proxies({"https" : "https://127.0.0.1:1080"})

In [9]:
# 获取实时行情
df, msg = stock.get_quote('600000.SH,000002.SZ')
df

,amount,change,float_market_capital,high,is_trading,last,low,market_capital,percent,symbol,time,turnover_rate,volume
0,1.670078e+09,0.49,2.706646e+11,28.30,True,27.86,27.33,3.075508e+11,1.79,000002.SZ,2018-06-15 14:10:03.000,0.61,59731180
1,1.436912e+08,0.04,2.886257e+11,10.34,True,10.26,10.19,3.014459e+11,0.39,600000.SH,2018-06-15 14:10:00.530,0.05,13976112

''

In [14]:
# 获取分钟线
# 1m, 5m, 15m, 30m, 60m
df, msg = stock.get_kline('000002.SZ', '2018-06-15', '1m')
df

,change,high,last,low,open,percent,symbol,time,turnover_rate,volume
0,-0.22,27.49,27.42,27.41,27.48,-0.80,000002.SZ,2018-06-14 09:31:00,0.01,525045
1,0.14,27.56,27.56,27.43,27.43,0.51,000002.SZ,2018-06-14 09:32:00,0.00,413935
2,0.02,27.63,27.58,27.56,27.56,0.07,000002.SZ,2018-06-14 09:33:00,0.00,285688
3,0.02,27.60,27.60,27.57,27.58,0.07,000002.SZ,2018-06-14 09:34:00,0.01,271095
4,0.03,27.63,27.63,27.59,27.60,0.11,000002.SZ,2018-06-14 09:35:00,0.00,331379
5,-0.03,27.65,27.60,27.60,27.65,-0.11,000002.SZ,2018-06-14 09:36:00,0.00,277700
6,0.00,27.61,27.60,27.57,27.59,0.00,000002.SZ,2018-06-14 09:37:00,0.00,311098
7,0.00,27.61,27.60,27.58,27.58,0.00,000002.SZ,2018-06-14 09:38:00,0.01,155395
8,0.03,27.63,27.63,27.59,27.60,0.11,000002.SZ,2018-06-14 09:39:00,0.00,259326
9,0.06,27.69,27.69,27.63,27.63,0.22,000002.SZ,2018-06-14 09:40:00,0.00,243314
10,0.02,27.72,27.71,27.69,27.69,0.07,000002.SZ,2018-06-14 09:41:00,0.00,250226
11,0.01,27.73,27.72,27.71,27.71,0.04,000002.SZ,2018-06-14 09:42:00,0.01,225005
12,0.03,27.76,27.75,27.72,27.73,0.11,000002.SZ,2018-06-14 09:43:00,0.00,278352
13,-0.10,27.75,27.65,27.64,27.75,-0.36,000002.SZ,2018-06-14 09:44:00,0.00,250328
14,-0.04,27.65,27.61,27.61,27.65,-0.14,000002.SZ,2018-06-14 09:45:00,0.00,119404
15,0.00,27.62,27.61,27.60,27.61,0.00,000002.SZ,2018-06-14 09:46:00,0.00,164017
16,-0.10,27.62,27.51,27.51,27.61,-0.36,000002.SZ,2018-06-14 09:47:00,0.01,325343
17,-0.02,27.51,27.49,27.47,27.51,-0.07,000002.SZ,2018-06-14 09:48:00,0.00,441104
18,0.00,27.49,27.49,27.47,27.49,0.00,000002.SZ,2018-06-14 09:49:00,0.01,258201
19,0.02,27.52,27.51,27.50,27.50,0.07,000002.SZ,2018-06-14 09:50:00,0.00,144418
20,-0.01,27.52,27.50,27.50,27.51,-0.04,000002.SZ,2018-06-14 09:51:00,0.00,184084
21,0.02,27.52,27.52,27.49,27.49,0.07,000002.SZ,2018-06-14 09:52:00,0.00,151638
22,0.02,27.54,27.54,27.52,27.52,0.07,000002.SZ,2018-06-14 09:53:00,0.00,247015
23,0.03,27.57,27.57,27.53,27.53,0.11,000002.SZ,2018-06-14 09:54:00,0.00,155523
24,0.03,27.60,27.60,27.56,27.57,0.11,000002.SZ,2018-06-14 09:55:00,0.01,264766
25,0.04,27.64,27.64,27.59,27.59,0.14,000002.SZ,2018-06-14 09:56:00,0.00,356210
26,0.05,27.69,27.69,27.62,27.62,0.18,000002.SZ,2018-06-14 09:57:00,0.00,233568
27,0.00,27.70,27.69,27.68,27.70,0.00,000002.SZ,2018-06-14 09:58:00,0.00,164989
28,0.02,27.71,27.71,27.69,27.70,0.07,000002.SZ,2018-06-14 09:59:00,0.01,179903
29,0.03,27.74,27.74,27.71,27.71,0.11,000002.SZ,2018-06-14 10:00:00,0.00,209929
...,...,...,...,...,...,...,...,...,...,...
210,-0.02,27.49,27.48,27.44,27.48,-0.07,000002.SZ,2018-06-14 14:31:00,0.00,281000
211,-0.01,27.47,27.47,27.46,27.47,-0.04,000002.SZ,2018-06-14 14:32:00,0.00,98842
212,-0.01,27.47,27.46,27.46,27.47,-0.04,000002.SZ,2018-06-14 14:33:00,0.00,51258
213,0.01,27.48,27.47,27.46,27.47,0.04,000002.SZ,2018-06-14 14:34:00,0.00,118700
214,0.02,27.49,27.49,27.47,27.47,0.07,000002.SZ,2018-06-14 14:35:00,0.00,121096
215,0.01,27.50,27.50,27.47,27.48,0.04,000002.SZ,2018-06-14 14:36:00,0.00,137438
216,0.00,27.51,27.50,27.48,27.49,0.00,000002.SZ,2018-06-14 14:37:00,0.01,259800
217,-0.02,27.50,27.48,27.48,27.50,-0.07,000002.SZ,2018-06-14 14:38:00,0.00,109700
218,0.00,27.49,27.48,27.47,27.49,0.00,000002.SZ,2018-06-14 14:39:00,0.00,79109
219,-0.03,27.48,27.45,27.44,27.48,-0.11,000002.SZ,2018-06-14 14:40:00,0.00,131955
220,0.00,27.48,27.45,27.43,27.43,0.00,000002.SZ,2018-06-14 14:41:00,0.00,83900
221,0.00,27.48,27.45,27.45,27.46,0.00,000002.SZ,2018-06-14 14:42:00,0.00,73500
222,0.02,27.47,27.47,27.45,27.45,0.07,000002.SZ,2018-06-14 14:43:00,0.00,74607
223,0.01,27.49,27.48,27.46,27.47,0.04,000002.SZ,2018-06-14 14:44:00,0.01,218928
224,-0.02,27.47,27.46,27.45,27.47,-0.07,000002.SZ,2018-06-14 14:45:00,0.00,73156
225,0.02,27.48,27.48,27.45,27.45,0.07,000002.SZ,2018-06-14 14:46:00,0.00,108652
226,-0.01,27.48,27.47,27.47,27.47,-0.04,000002.SZ,2018-06-14 14:47:00,0.00,76502
227,0.01,27.49,27.48,27.47,27.47,0.04,000002.SZ,2018-06-14 14:48:00,0.00,112904
228,0.01,27.50,27.49,27.48,27.49,0.04,000002.SZ,2018-06-14 14:49:00,0.00,225600
229,-0.02,27.50,27.47,27.47,27.48,-0.07,000002.SZ,2018-06-14 14:50:00,0.00,201509
230,-0.01,27.49,27.46,27.46,27.47,-0.04,000002.SZ,2018-06-14 14:51:00,0.01,239142
231,0.00,27.48,27.46,27.46,27.46,0.00,000002.SZ,2018-06-14 14:52:00,0.00,177995
232,-0.04,27.46,27.42,27.42,27.46,-0.15,000002.SZ,2018-06-14 14:53:00,0.00,136402
233,0.01,27.43,27.43,27.42,27.43,0.04,000002.SZ,2018-06-14 14:54:00,0.00,108213
234,-0.02,27.43,27.41,27.41,27.43,-0.07,000002.SZ,2018-06-14 14:55:00,0.00,151783
235,0.00,27.43,27.41,27.41,27.43,0.00,000002.SZ,2018-06-14 14:56:00,0.00,151913
236,-0.02,27.42,27.39,27.38,27.42,-0.07,000002.SZ,2018-06-14 14:57:00,0.01,129938
237,-0.01,27.38,27.38,27.38,27.38,-0.04,000002.SZ,2018-06-14 14:58:00,0.00,5100
238,-0.01,27.37,27.37,27.37,27.37,-0.04,000002.SZ,2018-06-14 15:00:00,0.00,290300
239,0.02,27.44,27.39,27.35,27.37,0.07,000002.SZ,2018-06-15 09:31:00,0.00,404100

In [13]:
# 获取日线
df, msg = stock.get_daily('600000.SH', start_date='2017-06-06', end_date='2018-06-07')
df

,change,high,last,low,open,percent,symbol,time,turnover_rate,volume
0,-0.05,12.84,12.80,12.66,12.80,-0.39,600000.SH,2017-06-06,0.13,36104406
1,0.04,12.99,12.84,12.78,12.81,0.31,600000.SH,2017-06-07,0.23,64395191
2,0.00,12.86,12.84,12.67,12.76,0.00,600000.SH,2017-06-08,0.17,48194843
3,0.09,13.20,12.93,12.77,12.79,0.70,600000.SH,2017-06-09,0.41,114434319
4,-0.15,13.14,12.78,12.76,12.90,-1.16,600000.SH,2017-06-12,0.26,73931192
5,-0.19,12.78,12.59,12.56,12.78,-1.49,600000.SH,2017-06-13,0.19,52716070
6,-0.13,12.64,12.46,12.31,12.60,-1.03,600000.SH,2017-06-14,0.20,55306982
7,-0.08,12.46,12.38,12.28,12.41,-0.64,600000.SH,2017-06-15,0.13,37492860
8,-0.03,12.46,12.35,12.27,12.38,-0.24,600000.SH,2017-06-16,0.17,47351062
9,0.05,12.43,12.40,12.30,12.36,0.40,600000.SH,2017-06-19,0.12,32941278
10,-0.11,12.44,12.29,12.22,12.41,-0.89,600000.SH,2017-06-20,0.16,44645196
11,0.05,12.40,12.34,12.26,12.40,0.41,600000.SH,2017-06-21,0.12,34000062
12,0.23,12.84,12.57,12.29,12.33,1.86,600000.SH,2017-06-22,0.39,110259441
13,0.07,12.65,12.64,12.36,12.55,0.56,600000.SH,2017-06-23,0.24,68579079
14,0.00,12.82,12.64,12.55,12.64,0.00,600000.SH,2017-06-26,0.22,60509162
15,0.06,12.73,12.70,12.53,12.64,0.47,600000.SH,2017-06-27,0.17,46687475
16,0.09,12.91,12.79,12.60,12.66,0.71,600000.SH,2017-06-28,0.27,75349557
17,-0.03,12.86,12.76,12.70,12.81,-0.23,600000.SH,2017-06-29,0.14,38994542
18,-0.11,12.73,12.65,12.59,12.70,-0.86,600000.SH,2017-06-30,0.13,36566479
19,-0.09,12.65,12.56,12.47,12.64,-0.71,600000.SH,2017-07-03,0.14,38778949
20,-0.01,12.58,12.55,12.41,12.55,-0.08,600000.SH,2017-07-04,0.13,36659128
21,0.07,12.65,12.62,12.47,12.50,0.56,600000.SH,2017-07-05,0.09,26470507
22,0.04,12.72,12.66,12.51,12.62,0.32,600000.SH,2017-07-06,0.13,37414241
23,-0.06,12.69,12.60,12.55,12.62,-0.47,600000.SH,2017-07-07,0.09,24667294
24,-0.07,12.64,12.53,12.52,12.59,-0.56,600000.SH,2017-07-10,0.09,26411530
25,0.27,12.94,12.80,12.51,12.51,2.15,600000.SH,2017-07-11,0.34,96835349
26,0.06,13.06,12.86,12.74,12.80,0.47,600000.SH,2017-07-12,0.29,80469025
27,0.41,13.29,13.27,12.77,12.82,3.19,600000.SH,2017-07-13,0.39,110219238
28,0.32,13.80,13.59,13.34,13.34,2.41,600000.SH,2017-07-14,0.52,146865370
29,0.17,14.02,13.76,13.28,13.62,1.25,600000.SH,2017-07-17,0.64,178661221
...,...,...,...,...,...,...,...,...,...,...
15,-0.12,11.77,11.66,11.65,11.71,-1.02,600000.SH,2018-04-25,0.06,16082634
16,-0.09,11.78,11.57,11.55,11.73,-0.77,600000.SH,2018-04-26,0.06,18205794
17,0.04,11.67,11.61,11.55,11.58,0.35,600000.SH,2018-04-27,0.08,23450783
18,-0.58,11.33,11.03,10.97,11.33,-5.00,600000.SH,2018-05-02,0.25,69325684
19,-0.11,11.01,10.92,10.83,10.99,-1.00,600000.SH,2018-05-03,0.12,34665572
20,-0.09,10.94,10.83,10.80,10.91,-0.82,600000.SH,2018-05-04,0.08,22253089
21,0.01,10.89,10.84,10.76,10.82,0.09,600000.SH,2018-05-07,0.10,27425378
22,0.11,10.97,10.95,10.81,10.84,1.01,600000.SH,2018-05-08,0.10,28796453
23,-0.02,11.00,10.93,10.89,10.95,-0.18,600000.SH,2018-05-09,0.07,18510621
24,0.02,11.00,10.95,10.91,10.98,0.18,600000.SH,2018-05-10,0.06,16030500
25,0.00,11.01,10.95,10.94,11.00,0.00,600000.SH,2018-05-11,0.08,22015135
26,0.05,11.05,11.00,10.96,10.97,0.46,600000.SH,2018-05-14,0.08,23763310
27,-0.01,11.05,10.99,10.88,11.03,-0.09,600000.SH,2018-05-15,0.08,23548459
28,-0.12,10.96,10.87,10.86,10.93,-1.09,600000.SH,2018-05-16,0.08,23580345
29,-0.04,10.91,10.83,10.81,10.86,-0.37,600000.SH,2018-05-17,0.07,18474690
30,0.07,10.90,10.90,10.81,10.85,0.65,600000.SH,2018-05-18,0.08,21717105
31,0.04,10.98,10.94,10.90,10.98,0.37,600000.SH,2018-05-21,0.08,23393724
32,-0.06,10.95,10.88,10.85,10.94,-0.55,600000.SH,2018-05-22,0.06,16014501
33,-0.08,10.89,10.80,10.79,10.88,-0.74,600000.SH,2018-05-23,0.08,21194469
34,-0.01,10.84,10.79,10.76,10.83,-0.09,600000.SH,2018-05-24,0.05,15229580
35,-0.08,10.83,10.71,10.68,10.83,-0.74,600000.SH,2018-05-25,0.07,19016226
36,0.05,10.79,10.76,10.61,10.71,0.47,600000.SH,2018-05-28,0.07,18370343
37,-0.12,10.74,10.64,10.61,10.70,-1.12,600000.SH,2018-05-29,0.06,16933980
38,-0.20,10.60,10.44,10.39,10.56,-1.88,600000.SH,2018-05-30,0.11,32230788
39,0.11,10.69,10.55,10.46,10.46,1.05,600000.SH,2018-05-31,0.16,45532670
40,0.13,10.69,10.68,10.53,10.60,1.23,600000.SH,2018-06-01,0.07,18365527
41,0.07,10.83,10.75,10.70,10.76,0.66,600000.SH,2018-06-04,0.06,16180325
42,-0.09,10.75,10.66,10.61,10.71,-0.84,600000.SH,2018-06-05,0.07,18692609
43,-0.11,10.64,10.55,10.53,10.64,-1.03,600000.SH,2018-06-06,0.05,14983603
44,0.07,10.66,10.62,10.51,10.56,0.66,600000.SH,2018-06-07,0.08,23355633

In [15]:
# 获取复权因子数据
df, msg = stock.get_adj_factor('600000.SH')
df

getting data for year = 2018, quarter = 2
getting data for year = 2018, quarter = 1
getting data for year = 2017, quarter = 4
getting data for year = 2017, quarter = 3
getting data for year = 2017, quarter = 2
getting data for year = 2017, quarter = 1
getting data for year = 2016, quarter = 4
getting data for year = 2016, quarter = 3
getting data for year = 2016, quarter = 2
getting data for year = 2016, quarter = 1
getting data for year = 2015, quarter = 4
getting data for year = 2015, quarter = 3
getting data for year = 2015, quarter = 2
getting data for year = 2015, quarter = 1
getting data for year = 2014, quarter = 4
getting data for year = 2014, quarter = 3
getting data for year = 2014, quarter = 2
getting data for year = 2014, quarter = 1
getting data for year = 2013, quarter = 4
getting data for year = 2013, quarter = 3
getting data for year = 2013, quarter = 2
getting data for year = 2013, quarter = 1
getting data for year = 2012, quarter = 4
getting data for year = 2012, quarter = 3
getting data for year = 2012, quarter = 2
getting data for year = 2012, quarter = 1
getting data for year = 2011, quarter = 4
getting data for year = 2011, quarter = 3
getting data for year = 2011, quarter = 2
getting data for year = 2011, quarter = 1
getting data for year = 2010, quarter = 4
getting data for year = 2010, quarter = 3
getting data for year = 2010, quarter = 2
getting data for year = 2010, quarter = 1
getting data for year = 2009, quarter = 4
getting data for year = 2009, quarter = 3
getting data for year = 2009, quarter = 2
getting data for year = 2009, quarter = 1
getting data for year = 2008, quarter = 4
getting data for year = 2008, quarter = 3
getting data for year = 2008, quarter = 2
getting data for year = 2008, quarter = 1
getting data for year = 2007, quarter = 4
getting data for year = 2007, quarter = 3
getting data for year = 2007, quarter = 2
getting data for year = 2007, quarter = 1
getting data for year = 2006, quarter = 4
getting data for year = 2006, quarter = 3
getting data for year = 2006, quarter = 2
getting data for year = 2006, quarter = 1
getting data for year = 2005, quarter = 4
getting data for year = 2005, quarter = 3
getting data for year = 2005, quarter = 2
getting data for year = 2005, quarter = 1
getting data for year = 2004, quarter = 4
getting data for year = 2004, quarter = 3
getting data for year = 2004, quarter = 2
getting data for year = 2004, quarter = 1
getting data for year = 2003, quarter = 4
getting data for year = 2003, quarter = 3
getting data for year = 2003, quarter = 2
getting data for year = 2003, quarter = 1
getting data for year = 2002, quarter = 4
getting data for year = 2002, quarter = 3
getting data for year = 2002, quarter = 2
getting data for year = 2002, quarter = 1
getting data for year = 2001, quarter = 4
getting data for year = 2001, quarter = 3
getting data for year = 2001, quarter = 2
getting data for year = 2001, quarter = 1
getting data for year = 2000, quarter = 4
getting data for year = 2000, quarter = 3
getting data for year = 2000, quarter = 2
getting data for year = 2000, quarter = 1
getting data for year = 1999, quarter = 4
getting data for year = 1999, quarter = 3
getting data for year = 1999, quarter = 2
getting data for year = 1999, quarter = 1

     adjust_factor        date
0           12.362  2018-06-14
1           12.362  2018-06-13
2           12.362  2018-06-12
3           12.362  2018-06-11
4           12.362  2018-06-08
5           12.362  2018-06-07
6           12.362  2018-06-06
7           12.362  2018-06-05
8           12.362  2018-06-04
9           12.362  2018-06-01
10          12.362  2018-05-31
11          12.362  2018-05-30
12          12.362  2018-05-29
13          12.362  2018-05-28
14          12.362  2018-05-25
15          12.362  2018-05-24
16          12.362  2018-05-23
17          12.362  2018-05-22
18          12.362  2018-05-21
19          12.362  2018-05-18
20          12.362  2018-05-17
21          12.362  2018-05-16
22          12.362  2018-05-15
23          12.362  2018-05-14
24          12.362  2018-05-11
25          12.362  2018-05-10
26          12.362  2018-05-09
27          12.362  2018-05-08
28          12.362  2018-05-07
29          12.362  2018-05-04
...            ...         ...
4352         1.000  1999-12-22
4353         1.000  1999-12-21
4354         1.000  1999-12-17
4355         1.000  1999-12-16
4356         1.000  1999-12-15
4357         1.000  1999-12-14
4358         1.000  1999-12-13
4359         1.000  1999-12-10
4360         1.000  1999-12-09
4361         1.000  1999-12-08
4362         1.000  1999-12-07
4363         1.000  1999-12-06
4364         1.000  1999-12-03
4365         1.000  1999-12-02
4366         1.000  1999-12-01
4367         1.000  1999-11-30
4368         1.000  1999-11-29
4369         1.000  1999-11-26
4370         1.000  1999-11-25
4371         1.000  1999-11-24
4372         1.000  1999-11-23
4373         1.000  1999-11-22
4374         1.000  1999-11-19
4375         1.000  1999-11-18
4376         1.000  1999-11-17
4377         1.000  1999-11-16
4378         1.000  1999-11-15
4379         1.000  1999-11-12
4380         1.000  1999-11-11
4381         1.000  1999-11-10

[4382 rows x 2 columns]

In [16]:
df

     adjust_factor        date
0           12.362  2018-06-14
1           12.362  2018-06-13
2           12.362  2018-06-12
3           12.362  2018-06-11
4           12.362  2018-06-08
5           12.362  2018-06-07
6           12.362  2018-06-06
7           12.362  2018-06-05
8           12.362  2018-06-04
9           12.362  2018-06-01
10          12.362  2018-05-31
11          12.362  2018-05-30
12          12.362  2018-05-29
13          12.362  2018-05-28
14          12.362  2018-05-25
15          12.362  2018-05-24
16          12.362  2018-05-23
17          12.362  2018-05-22
18          12.362  2018-05-21
19          12.362  2018-05-18
20          12.362  2018-05-17
21          12.362  2018-05-16
22          12.362  2018-05-15
23          12.362  2018-05-14
24          12.362  2018-05-11
25          12.362  2018-05-10
26          12.362  2018-05-09
27          12.362  2018-05-08
28          12.362  2018-05-07
29          12.362  2018-05-04
...            ...         ...
4352         1.000  1999-12-22
4353         1.000  1999-12-21
4354         1.000  1999-12-17
4355         1.000  1999-12-16
4356         1.000  1999-12-15
4357         1.000  1999-12-14
4358         1.000  1999-12-13
4359         1.000  1999-12-10
4360         1.000  1999-12-09
4361         1.000  1999-12-08
4362         1.000  1999-12-07
4363         1.000  1999-12-06
4364         1.000  1999-12-03
4365         1.000  1999-12-02
4366         1.000  1999-12-01
4367         1.000  1999-11-30
4368         1.000  1999-11-29
4369         1.000  1999-11-26
4370         1.000  1999-11-25
4371         1.000  1999-11-24
4372         1.000  1999-11-23
4373         1.000  1999-11-22
4374         1.000  1999-11-19
4375         1.000  1999-11-18
4376         1.000  1999-11-17
4377         1.000  1999-11-16
4378         1.000  1999-11-15
4379         1.000  1999-11-12
4380         1.000  1999-11-11
4381         1.000  1999-11-10

[4382 rows x 2 columns]

In [17]:
# 获取成交明细数据
df, msg = stock.get_trade_detail('600000.SH', trade_date='2018-06-07')
df

       bs change  price      time turnover volume        date     symbol
0     中性盘     --  10.62  15:00:00        0      0  2018-06-07  600000.SH
1     中性盘   0.01  10.62  15:00:00        0      0  2018-06-07  600000.SH
2      卖盘     --  10.61  14:59:58   167107    157  2018-06-07  600000.SH
3      卖盘     --  10.61  14:59:55   314056    296  2018-06-07  600000.SH
4      卖盘     --  10.61  14:59:52   174004    164  2018-06-07  600000.SH
5      卖盘     --  10.61  14:59:49    51989     49  2018-06-07  600000.SH
6      卖盘  -0.02  10.61  14:59:46   183553    173  2018-06-07  600000.SH
7      买盘   0.02  10.63  14:59:43   531500    500  2018-06-07  600000.SH
8      卖盘     --  10.61  14:59:40    62970     59  2018-06-07  600000.SH
9      卖盘     --  10.61  14:59:37   105039     99  2018-06-07  600000.SH
10     卖盘     --  10.61  14:59:34        0      0  2018-06-07  600000.SH
11     卖盘  -0.01  10.61  14:59:31    29156     27  2018-06-07  600000.SH
12     卖盘  -0.01  10.62  14:59:28   112571    106  2018-06-07  600000.SH
13     买盘   0.01  10.63  14:59:25   231734    218  2018-06-07  600000.SH
14     买盘   0.01  10.62  14:59:22    84960     80  2018-06-07  600000.SH
15     卖盘     --  10.61  14:59:19    97612     92  2018-06-07  600000.SH
16     卖盘  -0.02  10.61  14:59:16   101856     96  2018-06-07  600000.SH
17     买盘     --  10.63  14:59:13   124371    117  2018-06-07  600000.SH
18     买盘     --  10.63  14:59:10    61654     58  2018-06-07  600000.SH
19     买盘     --  10.63  14:59:07    38268     36  2018-06-07  600000.SH
20     买盘   0.01  10.63  14:59:04   100985     95  2018-06-07  600000.SH
21     卖盘  -0.01  10.62  14:59:01    28673     27  2018-06-07  600000.SH
22     买盘   0.01  10.63  14:58:58    71221     67  2018-06-07  600000.SH
23     卖盘  -0.01  10.62  14:58:55    36108     34  2018-06-07  600000.SH
24     买盘     --  10.63  14:58:52    40394     38  2018-06-07  600000.SH
25     买盘   0.02  10.63  14:58:49    17008     16  2018-06-07  600000.SH
26     卖盘  -0.02  10.61  14:58:46    51989     49  2018-06-07  600000.SH
27     买盘   0.01  10.63  14:58:43    94607     89  2018-06-07  600000.SH
28     卖盘     --  10.62  14:58:40   271510    255  2018-06-07  600000.SH
29     卖盘     --  10.62  14:58:37    15929     15  2018-06-07  600000.SH
...   ...    ...    ...       ...      ...    ...         ...        ...
3559   买盘   0.01  10.57  09:31:34   270592    256  2018-06-07  600000.SH
3560   卖盘     --  10.56  09:31:31    49632     47  2018-06-07  600000.SH
3561   卖盘  -0.02  10.56  09:31:28   256608    243  2018-06-07  600000.SH
3562   买盘     --  10.58  09:31:25        0      0  2018-06-07  600000.SH
3563   买盘   0.02  10.58  09:31:19    80408     76  2018-06-07  600000.SH
3564   卖盘  -0.01  10.56  09:31:16   405504    384  2018-06-07  600000.SH
3565   买盘     --  10.57  09:31:13    64477     61  2018-06-07  600000.SH
3566   卖盘   0.01  10.57  09:31:10    75047     71  2018-06-07  600000.SH
3567   卖盘  -0.02  10.56  09:31:07    19008     18  2018-06-07  600000.SH
3568   买盘   0.02  10.58  09:31:04   539580    510  2018-06-07  600000.SH
3569   卖盘  -0.01  10.56  09:31:01    47520     45  2018-06-07  600000.SH
3570   买盘     --  10.57  09:30:58     5285      5  2018-06-07  600000.SH
3571   买盘     --  10.57  09:30:55    28539     27  2018-06-07  600000.SH
3572   买盘     --  10.57  09:30:52     6342      6  2018-06-07  600000.SH
3573   卖盘     --  10.57  09:30:49   159036    150  2018-06-07  600000.SH
3574   卖盘     --  10.57  09:30:43      264      0  2018-06-07  600000.SH
3575   卖盘     --  10.57  09:30:37     6342      6  2018-06-07  600000.SH
3576   卖盘     --  10.57  09:30:34   300188    284  2018-06-07  600000.SH
3577   卖盘     --  10.57  09:30:31    26425     25  2018-06-07  600000.SH
3578   卖盘     --  10.57  09:30:25    34881     33  2018-06-07  600000.SH
3579   卖盘     --  10.57  09:30:22    10570     10  2018-06-07  600000.SH
3580   卖盘  -0.01  10.57  09:30:19    82446     78  2018-06-07  600000.SH
3581   卖盘   0.01  10.58  09:30:16     2116      2  2018-06-07  600000.SH
3582   卖盘  -0.01  10.57  09:30:13   283582    268  2018-06-07  600000.SH
3583   买盘     --  10.58  09:30:10   356546    337  2018-06-07  600000.SH
3584   买盘   0.01  10.58  09:30:07   316342    299  2018-06-07  600000.SH
3585   买盘   0.01  10.57  09:30:04   302745    286  2018-06-07  600000.SH
3586   卖盘     --  10.56  09:30:01   105600    100  2018-06-07  600000.SH
3587   卖盘     --  10.56  09:29:00        0      0  2018-06-07  600000.SH
3588   买盘  10.56  10.56  09:25:01  2716274   2572  2018-06-07  600000.SH

[3589 rows x 8 columns]

In [18]:
# 获取指数列表，market=SH/SZ/CSI
index_list = stock.get_index_list('SH')
index_list

,handbookEnUrl,handbookUrl,ifIndexCode,indexBaseDay,indexBasePoint,indexCode,indexDataSourceType,indexFullName,indexFullNameEn,indexName,...,netReturnIntroEn,numOfStockes,tIndexCode,tIndexFullName,tIndexFullNameEn,tIndexName,tIndexNameEn,totalReturnIntro,totalReturnIntroEn,updateTime
0,,,000001,1990-12-19,100.00,000001,1,上证综合指数,SSE Composite Index,上证指数,...,,1464,,,,,,,,20180516
1,,,000002,1990-12-19,100.00,000002,1,上证A股指数,SSE A Share Index,Ａ股指数,...,,1414,,,,,,,,20180516
2,,,000003,1992-02-21,100.00,000003,1,上证B股指数,SSE B Share Index,Ｂ股指数,...,,50,,,,,,,,20180516
3,,,000009,2003-12-31,1000.00,000009,1,上证380指数,SSE 380 Index,上证380,...,,380,H00009,上证380全收益指数,SSE 380 Total Return Index,上证380全收益,SSE 380 TRI,,,20180516
4,,,000010,2002-06-28,3299.06,000010,1,上证180指数,SSE 180 Index,上证180,...,,180,H00010,上证180全收益指数,SSE 180 Total Return Index,180收益,SSE 180 TRI,,,20180516
5,,,000016,2003-12-31,1000.00,000016,1,上证50指数,SSE 50 Index,上证50,...,,50,H00016,上证50全收益指数,SSE 50 Total Return Index,50收益,SSE 50 TRI,,,20180516
6,,,000017,2005-12-30,1000.00,000017,1,新上证综指,New SSE Index,新综指,...,,1412,,,,,,,,20180516
7,,,000020,2007-12-28,1000.00,000020,1,上证中型企业综合指数,SSE Medium Composite Index,中型综指,...,,465,H00020,上证中型企业综合全收益指数,SSE Medium Composite Total Return Index,中企收益,SSE Medium Composite TRI,,,20180516
8,,,000043,2003-12-31,1000.00,000043,1,上证超级大盘指数,SSE Mega-cap Index,超大盘,...,,20,H00043,上证超级大盘全收益指数,SSE Mega-cap Total Return Index,超大收,SSE Mega-cap TRI,,,20180516
9,,,000044,2003-12-31,1000.00,000044,1,上证中盘指数,SSE MID CAP Index,上证中盘,...,,130,H00044,上证中盘全收益指数,SSE MID CAP Total Return Index,上证中收,SSE MID CAP TRI,,,20180516
10,,,000045,2003-12-31,1000.00,000045,1,上证小盘指数,SSE SMALL CAP Index,上证小盘,...,,320,H00045,上证小盘全收益指数,SSE SMALL CAP Total Return Index,上证小收,SSE SMALL CAP TRI,,,20180516
11,,,000046,2003-12-31,1000.00,000046,1,上证中小盘指数,SSE MID&SMALL CAP Index,上证中小,...,,450,H00046,上证中小盘全收益指数,SSE MID&SMALL CAP Total Return Index,上中小收,SSE MID&SMALL CAP TRI,,,20180516
12,,,000047,2003-12-31,1000.00,000047,1,上证大中小盘指数,SSE TOTAL MARKET Index,上证全指,...,,500,H00047,上证大中小盘全收益指数,SSE TOTAL MARKET Total Return Index,上证全收,SSE TOTAL MARKET TRI,,,20180516
13,,,000090,2009-12-31,1000.00,000090,1,上证流通指数,SSE Free Float Index,上证流通,...,,1412,H00090,上证流通全收益指数,SSE Free Float Total Return Index,上证流通全收益,SSE Free Float TRI,,,20180516
14,,,000132,2003-12-31,1000.00,000132,1,上证100指数,SSE 100 Index,上证100,...,,100,H00132,上证100全收益指数,SSE 100 Total Return Index,上证100全收益,SSE 100 TRI,,,20180516
15,,,000133,2003-12-31,1000.00,000133,1,上证150指数,SSE 150 Index,上证150,...,,150,H00133,上证150全收益指数,SSE 150 Total Return Index,上证150全收益,SSE 150 TRI,,,20180516
16,,,000155,2003-12-31,1000.00,000155,1,上证市值百强指数,SSE Market Value Top 100 Index,市值百强,...,,100,H00155,上证市值百强全收益指数,SSE Market Value Top 100 Total Return Index,市值百强全收益,Market Value Top 100 TRI,,,20180516
17,,,000004,1993-04-30,1358.78,000004,1,上证工业指数,SSE Industrial Index,工业指数,...,,968,,,,,,,,20180516
18,,,000005,1993-04-30,1358.78,000005,1,上证商业指数,SSE Commercial Index,商业指数,...,,135,,,,,,,,20180516
19,,,000006,1993-04-30,1358.78,000006,1,上证地产指数,SSE Real Estate Index,地产指数,...,,25,,,,,,,,20180516
20,,,000007,1993-04-30,1358.78,000007,1,上证公用指数,SSE Utilities Index,公用指数,...,,121,,,,,,,,20180516
21,,,000008,1993-04-30,1358.78,000008,1,上证综合指数,SSE Conglomerates Index,综合指数,...,,215,,,,,,,,20180516
22,,,000018,2002-06-28,1000.00,000018,1,上证180金融股指数,SSE 180 Financial Index,180金融,...,,47,H00018,上证180金融股全收益指数,SSE 180 Financial Total Return Index,180金收,180 Financial TRI,,,20180516
23,,,000032,2003-12-31,1000.00,000032,1,上证能源行业指数,SSE Energy Index,上证能源,...,,30,H00032,上证能源行业全收益指数,SSE Energy Sector Total Return Index,上证能收,SSE Energy TRI,,,20180516
24,,,000033,2003-12-31,1000.00,000033,1,上证原材料行业指数,SSE Materials Index,上证材料,...,,50,H00033,上证原材料行业全收益指数,SSE Materials Sector Total Return Index,上证材收,SSE Materials TRI,,,20180516
25,,,000034,2003-12-31,1000.00,000034,1,上证工业行业指数,SSE Industrials Index,上证工业,...,,50,H00034,上证工业行业全收益指数,SSE Industrials Sector Total Return Index,上证工收,SSE Industrials TRI,,,20180516
26,,,000035,2003-12-31,1000.00,000035,1,上证可选消费行业指数,SSE Cons Disc Index,上证可选,...,,50,H00035,上证可选消费行业全收益指数,SE Consumer Discretionary Sector Total Return ...,上证可收,SSE Cons Disc TRI,,,20180516
27,,,000036,2003-12-31,1000.00,000036,1,上证主要消费行业指数,SSE Cons Staples Index,上证消费,...,,30,H00036,上证主要消费行业全收益指数,SSE Consumer Staples Sector Total Return Index,上证消收,SSE Cons Staples TRI,,,20180516
28,,,000037,2003-12-31,1000.00,000037,1,上证医药卫生行业指数,SSE Health Care Index,上证医药,...,,44,H00037,上证医药卫生行业全收益指数,SSE Health Care Sector Total Return Index,上证医收,SSE Health Care TRI,,,20180516
29,,,000038,2003-12-31,1000.00,000038,1,上证金融地产行业指数,SSE Financials Index,上证金融,...,,30,H00038,上证金融地产行业全收益指数,SSE Financials Sector Total Return Index,上证金收,SSE Financials TRI,,,20180516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,,,000013,2002-12-31,100.00,000013,1,上证企业债指数,SSE Corporate Bond Index,企债指数,...,,3711,,,,,,,,20180516
230,,,000022,2007-12-31,100.00,000022,1,上证公司债指数,SSE Enterprise Bond Index,沪公司债,...,,1648,,,,,,,,20180516
231,,,000061,2008-12-31,100.00,000061,1,上证企债30指数,SSE Corporate Bond 30 Index,沪企债30,...,,30,,,,,,,,20180516
232,,,000101,2007-12-31,100.00,000101,1,上证5年期信用债指数,SSE 5-Year Credit Bond index,5年信用,...,,608,,,,,,,,20180516
233,,,000116,2007-12-31,100.00,000116,1,上证信用债100指数,SSE Credit Bond 100 Index,信用100,...,,100,,,,,,,,20180516
234,,,000140,2007-12-31,100.00,000140,1,上证5年期国债指数,SSE 5-Year China Treasury Note (Futures Delive...,5年国债,...,,,,,,,,,,20180516
235,,,950109,2013-12-31,100.00,950109,1,上证10年期地方政府债指数,SSE 10-Year Local Government Bond Index,上证10年地债,...,,529,,,,,,,,20180516
236,,,950110,2008-12-31,100.00,950110,1,上证超长期国债指数,SSE Extra Long Treasury Bond Index,上证超长国债,...,,44,,,,,,,,20180516
237,,,950113,2008-12-31,100.00,950113,1,上证3-5年期中高等级可质押信用债指数,SSE 3-5 Year Collateralizable Medium-High Grad...,沪质中高债3-5,...,,242,,,,,,,,20180516
238,,,950117,2016-12-30,100.00,950117,1,上证绿色债券指数,SSE Green Bond Index,上证绿色债,...,,49,,,,,,,,20180516
239,,,950118,2016-12-30,100.00,950118,1,上证绿色公司债指数,SSE Green Corporate Bond Index,上证绿色公司债,...,,23,,,,,,,,20180516
240,,,H11018,2008-12-31,100.00,H11018,1,上证可质押城投债指数,SSE Pledgeable Urban Construction Investment B...,沪质城投,...,,889,,,,,,,,20180516
241,,,H11077,2008-12-31,100.00,H11077,1,上证10年期国债指数,SSE 10-Year China Treasury Note Index (Futures...,10年国债,...,,17,,,,,,,,20180516
242,,,H11080,2008-12-31,100.00,H11080,1,上证公司债AAA指数,SSE Corporate Bond Index AAA,HGSZ AAA,...,,883,,,,,,,,20180516
243,,,H11081,2009-12-31,100.00,H11081,1,上证公司债AA+指数,SSE corporate Bond Index AA+,HGSZ AA+,...,,403,,,,,,,,20180516
244,,,H11082,2009-12-31,100.00,H11082,1,上证公司债AA指数,SSE corporate Bond Index AA,HGSZ AA,...,,348,,,,,,,,20180516
245,,,H11083,2009-12-31,100.00,H11083,1,上证公司债1-3年指数,SSE corporate Bond Index 1-3Y,HGSZ 1-3,...,,732,,,,,,,,20180516
246,,,H11084,2008-12-31,100.00,H11084,1,上证公司债3-5年指数,SSE corporate Bond Index 3-5Y,HGSZ 3-5,...,,736,,,,,,,,20180516
247,,,H11085,2009-12-31,100.00,H11085,1,上证公司债5-7年指数,SSE corporate Bond Index 5-7Y,HGSZ 5-7,...,,92,,,,,,,,20180516
248,,,H11086,2008-12-31,100.00,H11086,1,上证公司债7-10年指数,SSE corporate Bond Index 7-10Y,HGSZ7-10,...,,68,,,,,,,,20180516
249,,,H11095,2008-12-31,100.00,H11095,1,上证跨市场中期中高收益信用债指数,SSE Medium Term Medium-High Yield Cross Market...,沪跨市中期中高债,...,,604,,,,,,,,20180516
250,,,H11098,2008-12-31,100.00,H11098,1,上证城投债指数,SSE Urban Construction Investment Bond Index,沪城投债,...,,1810,,,,,,,,20180516
251,,,000139,2002-12-31,100.00,,1,,,,...,,30,000139,上证可转换债券指数,SSE Convertible Bond Index,上证转债,SSE Convertible Bond,,,20180516
252,,,000011,2000-05-08,1000.00,,1,,,,...,,124,000011,上证基金指数,SSE Fund Index,基金指数,Fund Index,,,20180516
253,,,000091,2004-12-31,1000.00,000091,1,上证财富中小盘指数,SSE Wealth Mid-Small Index,沪财中小,...,,200,H00091,上证财富中小盘全收益指数,SSE Wealth Mid-Small Total Return Index,沪财中小全收益,SSE Wealth Mid-Small TRI,,,20180516
254,,,950090,2004-12-31,1000.00,950090,1,上证50AH优选指数,SSE 50 AH Select Index,50AH优选,...,,50,H40090,上证50AH优选全收益指数,SSE 50 AH Select Total Return Index,50AH优选(全),SSE 50 Select TRI,,,20180516
255,,,950092,2004-12-31,1000.00,950092,1,上证180AH优选指数,SSE 180 AH Select Index,上证180优选,...,,180,H40092,上证180AH优选全收益指数,SSE 180 AH Select Total Return Index,上证180优选(全),SSE 180 Select TRI,,,20180516
256,,,950102,2007-12-31,100.00,950102,1,上证周期产业债指数,SSE Cycle Industry Bond Index,上证周期债,...,,387,,,,,,,,20180516
257,,,000010,2002-06-28,0.00,H50059,1,上证180股息点指数,SSE180 Dividend Point index,180股息点,...,,180,,,,,,,,20180516
258,,,000016,2003-12-31,0.00,H50060,1,上证50股息点指数,SSE50 Dividend Point index,50股息点,...,,50,,,,,,,,20180516

In [20]:
stock_list = stock.get_index_component('000050.SH')
stock_list

,inDate,marketSource,securityAbbr,securityAbbrEn,securityCode
0,2018-06-15,1,浦发银行,"SHANGHAI PUDONG DEVELOPMENT BANK CO., LTD.",600000
1,2018-06-15,1,民生银行,CHINA MINSHENG BANK,600016
2,2018-06-15,1,宝钢股份,"Baoshan Iron & Steel Co., Ltd.",600019
3,2018-06-15,1,中国石化,China Petroleum and Chemical Corporation,600028
4,2018-06-15,1,南方航空,China Southern Airlines Company Limited,600029
5,2018-06-15,1,中信证券,CITIC Securities Company Limited,600030
6,2018-06-15,1,招商银行,"China Merchants Bank Co.,Limited",600036
7,2018-06-15,1,保利地产,"POLY REAL ESTATE GROUP CO.,LTD",600048
8,2018-06-15,1,中国联通,CHINA UNITED NETWORK COMMUNICATIONS LIMITED,600050
9,2018-06-15,1,上汽集团,SAIC Motor Corporation Limited,600104
10,2018-06-15,1,北方稀土,China Northern Rare Earth (Group) High-Tech Co...,600111
11,2018-06-15,1,恒瑞医药,"JIANGSU HENGRUI MEDICINE CO.,LTD.",600276
12,2018-06-15,1,万华化学,"Wanhua Chemical Group Co.,Ltd.",600309
13,2018-06-15,1,华夏幸福,CHINA FORTUNE LAND DEVELOPMENT CO.，LTD.,600340
14,2018-06-15,1,贵州茅台,"KWEICHOW MOUTAI CO.,LTD.",600519
15,2018-06-15,1,山东黄金,"SHANDONG GOLD MINING CO.,LTD.",600547
16,2018-06-15,1,海螺水泥,Anhui Conch Cement Company Limited,600585
17,2018-06-15,1,绿地控股,Greenland Holdings Corporation Limited,600606
18,2018-06-15,1,青岛海尔,QINGDAO HAIER CO.，LTD,600690
19,2018-06-15,1,三安光电,"SAN'AN OPTOELECTRONICS CO.,LTD",600703
20,2018-06-15,1,伊利股份,"INNER MONGOLIA YILI INDUSTRIAL GROUP CO.,LTD",600887
21,2018-06-15,1,东方证券,ORIENT SECURITIES COMPANY LIMITED,600958
22,2018-06-15,1,招商证券,"China Merchants Securities Co.,Ltd.",600999
23,2018-06-15,1,大秦铁路,"Daqin Railway Co., Ltd.",601006
24,2018-06-15,1,中国神华,China Shenhua Energy Company Limited,601088
25,2018-06-15,1,兴业银行,"INDUSTRIAL BANK CO.,LTD.",601166
26,2018-06-15,1,北京银行,"BANK OF BEIJING CO.,LTD.",601169
27,2018-06-15,1,中国铁建,China Railway Construction Corporation Limited,601186
28,2018-06-15,1,国泰君安,Guotai Junan Securities Co. Ltd.,601211
29,2018-06-15,1,上海银行,"Bank of Shanghai Co.,ltd.",601229
30,2018-06-15,1,农业银行,AGRICULTURAL BANK OF CHINA LIMITED,601288
31,2018-06-15,1,中国平安,"PING AN INSURANCE（GROUP） COMPANY OF CHINA, LTD.",601318
32,2018-06-15,1,交通银行,"BANK OF COMMUNICATIONS CO.,LTD.",601328
33,2018-06-15,1,新华保险,NEW CHINA LIFE INSURANCE COMPANY LTD.,601336
34,2018-06-15,1,三六零,360 Security Technology Inc.,601360
35,2018-06-15,1,中国中铁,China Railway Group Limited,601390
36,2018-06-15,1,工商银行,INDUSTRIAL AND COMMERCIAL BANK OF CHINA LIMITED,601398
37,2018-06-15,1,中国太保,"China Pacific Insurance (Group) Co., Ltd.",601601
38,2018-06-15,1,中国人寿,CHINA LIFE INSURANCE COMPANY LIMITED,601628
39,2018-06-15,1,中国建筑,China State Construction Engineering Corporati...,601668
40,2018-06-15,1,华泰证券,"HUATAI SECURITIES CO.,LTD",601688
41,2018-06-15,1,中国中车,CRRC Corporation Limited,601766
42,2018-06-15,1,中国交建,"China Communications Construction Co.,Ltd",601800
43,2018-06-15,1,光大银行,CHINA EVERBRIGHT BANK COMPANY LIMITED,601818
44,2018-06-15,1,中国石油,PetroChina Company Limited,601857
45,2018-06-15,1,浙商证券,,601878
46,2018-06-15,1,中国银河,"China Galaxy Securities Co., Ltd.",601881
47,2018-06-15,1,中国银行,BANK OF CHINA LIMITED,601988
48,2018-06-15,1,中国重工,China Shipbuilding Industry Company Limited,601989
49,2018-06-15,1,洛阳钼业,"China Molybdenum Co., Ltd.",603993

In [21]:
df_total, df_detail = stock.get_rzrq_info(market = 'SZ', date = '20180614')

In [22]:
df_total

,融资买入额(元),融资余额(元),融券卖出量(股),融券余量(股),融券余额(元),融资融券余额(元),date
0,"11,338,488,858","380,723,914,117","15,523,268","93,789,407","1,236,581,709","381,960,495,826",2018-06-14

In [23]:
df_detail

,证券代码,证券简称,融资买入额(元),融资余额(元),融券卖出量(股),融券余量(股),融券余额(元),融资融券余额(元),date
0,1,平安银行,"191,196,305","5,194,292,165","81,500","458,900","4,621,123","5,198,913,288",2018-06-14
1,2,万 科Ａ,"87,149,528","2,378,768,960","176,490","1,542,441","42,216,610","2,420,985,570",2018-06-14
2,6,深振业Ａ,"18,198,993","942,991,163","11,600","122,700","850,311","943,841,474",2018-06-14
3,9,中国宝安,"8,726,728","1,461,047,318",0,"10,850","60,217","1,461,107,535",2018-06-14
4,12,南 玻Ａ,"1,504,119","745,054,934","46,425","46,430","299,474","745,354,408",2018-06-14
5,22,深赤湾Ａ,0,"151,680,424",0,"20,000","456,400","152,136,824",2018-06-14
6,27,深圳能源,"3,025,160","388,879,790","51,900","66,870","359,761","389,239,551",2018-06-14
7,28,国药一致,"3,075,739","283,508,579","4,000","6,000","311,400","283,819,979",2018-06-14
8,30,富奥股份,"1,648,597","119,628,352","10,000","21,600","155,304","119,783,656",2018-06-14
9,31,中粮地产,"7,368,446","612,596,106","139,369","140,569","950,246","613,546,352",2018-06-14
10,36,华联控股,"1,499,557","467,123,226",0,"129,199","936,693","468,059,919",2018-06-14
11,39,中集集团,"14,600,476","1,271,595,935","39,100","156,400","2,350,692","1,273,946,627",2018-06-14
12,43,中航善达,"3,128,072","413,216,931",0,"6,900","53,199","413,270,130",2018-06-14
13,46,泛海控股,"4,755,999","449,925,018","194,400","369,700","2,513,960","452,438,978",2018-06-14
14,49,德赛电池,"6,077,506","444,560,873","1,100","10,883","336,285","444,897,158",2018-06-14
15,50,深天马Ａ,"46,360,367","2,032,537,874",0,200,"3,272","2,032,541,146",2018-06-14
16,59,华锦股份,"6,689,675","776,161,538",0,500,"3,820","776,165,358",2018-06-14
17,60,中金岭南,"9,798,248","1,652,778,903","25,300","424,000","2,395,600","1,655,174,503",2018-06-14
18,61,农 产 品,"4,142,221","725,575,491","14,400","158,800","1,036,964","726,612,455",2018-06-14
19,62,深圳华强,"17,401,091","654,655,759","1,000","60,400","1,362,020","656,017,779",2018-06-14
20,63,中兴通讯,"91,296","3,115,291,367",0,"160,933","4,081,260","3,119,372,627",2018-06-14
21,69,华侨城Ａ,"15,586,025","1,508,077,766","26,300","202,700","1,621,600","1,509,699,366",2018-06-14
22,78,海王生物,"5,785,679","615,160,000",0,0,0,"615,160,000",2018-06-14
23,88,盐 田 港,"14,261,497","357,820,252","72,700","262,629","1,867,292","359,687,544",2018-06-14
24,89,深圳机场,"21,182,946","410,122,705","17,500","58,900","487,103","410,609,808",2018-06-14
25,90,天健集团,"2,616,961","447,316,531",0,"116,000","995,280","448,311,811",2018-06-14
26,99,中信海直,"5,414,966","324,192,124","26,500","50,000","362,000","324,554,124",2018-06-14
27,100,TCL 集团,"27,065,851","2,327,379,417","121,100","434,400","1,337,952","2,328,717,369",2018-06-14
28,151,中成股份,"40,512,758","400,141,913","95,000","224,200","2,791,290","402,933,203",2018-06-14
29,156,华数传媒,0,"605,950,224",0,"14,100","160,740","606,110,964",2018-06-14
...,...,...,...,...,...,...,...,...,...
405,300072,三聚环保,"30,715,680","2,611,041,811",600,"124,722","3,212,839","2,614,254,650",2018-06-14
406,300079,数码科技,"25,765,151","1,000,518,846","60,000","60,000","239,400","1,000,758,246",2018-06-14
407,300088,长信科技,"20,344,642","1,652,967,060",0,"60,000","378,000","1,653,345,060",2018-06-14
408,300090,盛运环保,0,"1,277,740,761",0,0,0,"1,277,740,761",2018-06-14
409,300113,顺网科技,"32,384,337","718,297,017","12,900","127,059","2,190,497","720,487,514",2018-06-14
410,300115,长盈精密,"14,368,967","722,898,009",0,"18,091","246,038","723,144,047",2018-06-14
411,300122,智飞生物,"56,843,685","980,223,867","68,000","160,337","7,269,680","987,493,547",2018-06-14
412,300124,汇川技术,"19,777,904","560,691,985","13,700","268,997","8,933,390","569,625,375",2018-06-14
413,300128,锦富技术,0,"725,569,349",0,"46,700","327,834","725,897,183",2018-06-14
414,300133,华策影视,"7,783,342","794,684,331","27,200","147,300","1,546,650","796,230,981",2018-06-14
415,300146,汤臣倍健,0,"542,118,534",0,"25,700","426,620","542,545,154",2018-06-14
416,300147,香雪制药,"25,970,654","485,034,888",0,0,0,"485,034,888",2018-06-14
417,300157,恒泰艾普,"11,606,519","782,530,623",0,"205,000","1,449,350","783,979,973",2018-06-14
418,300168,万达信息,"59,256,096","2,496,089,034","10,000","1,780,589","46,847,297","2,542,936,331",2018-06-14
419,300170,汉得信息,"65,581,119","900,662,786","11,000","101,825","1,476,463","902,139,249",2018-06-14
420,300182,捷成股份,"41,703,606","439,686,101","5,000","4,907","40,434","439,726,535",2018-06-14
421,300191,潜能恒信,"6,649,569","390,742,715",0,"29,300","584,535","391,327,250",2018-06-14
422,300199,翰宇药业,"31,504,343","681,200,583",0,"2,800","44,800","681,245,383",2018-06-14
423,300202,聚龙股份,"3,109,100","450,084,529",400,"14,500","275,935","450,360,464",2018-06-14
424,300203,聚光科技,"7,085,305","643,790,626",0,"8,135","195,647","643,986,273",2018-06-14
425,300205,天喻信息,"9,347,203","521,373,055","24,900","55,312","451,346","521,824,401",2018-06-14
426,300212,易华录,"35,051,497","980,938,399",0,"46,623","1,422,468","982,360,867",2018-06-14
427,300226,上海钢联,"48,210,420","668,510,788","24,000","55,700","3,353,140","671,863,928",2018-06-14
428,300251,光线传媒,"35,735,615","879,793,874","64,500","596,877","6,028,458","885,822,332",2018-06-14
429,300253,卫宁健康,0,"866,826,855",0,"2,950,092","39,590,235","906,417,090",2018-06-14
430,300257,开山股份,"11,292,037","586,953,695",0,"12,300","214,020","587,167,715",2018-06-14
431,300273,和佳股份,"6,079,367","738,565,832",0,"122,783","911,050","739,476,882",2018-06-14
432,300274,阳光电源,"47,447,779","987,824,876","106,400","889,155","8,589,236","996,414,112",2018-06-14
433,300355,蒙草生态,"39,180,844","1,423,362,043",0,"364,000","2,256,800","1,425,618,843",2018-06-14
434,300498,温氏股份,"10,957,490","579,927,996",0,"2,500","57,150","579,985,146",2018-06-14

In [24]:
df = stock.get_dividend('600000.SH')

In [25]:
df

,COMPANY_CODE,DIVIDEND_DATE,DIVIDEND_PER_SHARE1_A,DIVIDEND_PER_SHARE2_A,EXCHANGE_RATE,EX_DIVIDEND_DATE_A,FULL_NAME,RECORD_DATE_A,SECURITY_ABBR_A,SECURITY_CODE_A
0,600000,2017-05-24,0.200,0.200,-,2017-05-25,上海浦东发展银行股份有限公司,2017-05-24,浦发银行,600000
1,600000,2016-06-22,0.515,0.515,-,2016-06-23,上海浦东发展银行股份有限公司,2016-06-22,浦发银行,600000
2,600000,2015-06-19,0.719,0.757,-,2015-06-23,上海浦东发展银行股份有限公司,2015-06-19,浦发银行,600000
3,600000,2014-06-23,0.627,0.660,-,2014-06-24,上海浦东发展银行股份有限公司,2014-06-23,浦发银行,600000
4,600000,2013-05-31,0.523,0.550,-,2013-06-03,上海浦东发展银行股份有限公司,2013-05-31,浦发银行,600000
5,600000,2012-06-25,0.270,0.300,-,2012-06-26,上海浦东发展银行股份有限公司,2012-06-25,浦发银行,600000
6,600000,2011-06-02,0.114,0.160,-,2011-06-03,上海浦东发展银行股份有限公司,2011-06-02,浦发银行,600000
7,600000,2010-06-09,0.105,0.150,-,2010-06-10,上海浦东发展银行股份有限公司,2010-06-09,浦发银行,600000
8,600000,2009-06-08,0.167,0.230,-,2009-06-09,上海浦东发展银行股份有限公司,2009-06-08,浦发银行,600000
9,600000,2008-04-23,0.114,0.160,-,2008-04-24,上海浦东发展银行股份有限公司,2008-04-23,浦发银行,600000
10,600000,2007-07-17,0.135,0.150,-,2007-07-18,上海浦东发展银行股份有限公司,2007-07-17,浦发银行,600000
11,600000,2006-05-24,0.117,0.130,-,2006-05-25,上海浦东发展银行股份有限公司,2006-05-24,浦发银行,600000
12,600000,2005-05-11,0.096,0.120,-,2005-05-12,上海浦东发展银行股份有限公司,2005-05-11,浦发银行,600000
13,600000,2004-05-19,0.088,0.110,-,2004-05-20,上海浦东发展银行股份有限公司,2004-05-19,浦发银行,600000
14,600000,2002-08-21,0.160,0.200,-,2002-08-22,上海浦东发展银行股份有限公司,2002-08-21,浦发银行,600000
15,600000,2000-07-05,0.125,0.150,-,2000-07-06,上海浦东发展银行股份有限公司,2000-07-05,浦发银行,600000

In [27]:
from opendatatools import futures

In [30]:
df, msg = futures.get_trade_rank('SHF', date='2018-05-30')
df[df.symbol == 'cu1806']

,成交量,成交量增减,持买仓量,持买仓量增减,持卖仓量,持卖仓量增减,symbol,成交量期货公司,持买仓量期货公司,持卖仓量期货公司,名次,date
2,8987,6036,6820,-2030,9439,-657,cu1806,东证期货,金瑞期货,五矿经易,1,20180530
3,7038,3705,5157,-144,4374,436,cu1806,金瑞期货,中信期货,金瑞期货,2,20180530
4,5248,2236,4214,185,3733,-760,cu1806,中银国际,铜冠金源,中信期货,3,20180530
5,3657,787,3545,-4,3647,-167,cu1806,鲁证期货,国泰君安,格林大华,4,20180530
6,3528,317,2942,-577,3262,130,cu1806,中信期货,国贸期货,中粮期货,5,20180530
7,3225,1076,2471,-378,2578,-67,cu1806,国投安信,中粮期货,华安期货,6,20180530
8,3010,286,2354,-348,2571,-182,cu1806,海通期货,五矿经易,海通期货,7,20180530
9,2959,1833,1605,219,2315,-308,cu1806,上海中期,方正中期,建信期货,8,20180530
10,2951,1363,1489,51,1604,198,cu1806,华安期货,迈科期货,兴业期货,9,20180530
11,2567,1391,1434,-418,1546,-214,cu1806,国泰君安,华安期货,国投安信,10,20180530
12,2501,389,1376,54,1468,159,cu1806,铜冠金源,一德期货,兴证期货,11,20180530
13,2039,-420,1370,141,1349,-148,cu1806,五矿经易,建信期货,中银国际,12,20180530
14,1736,1549,1244,-39,1230,-238,cu1806,国贸期货,南华期货,云晨期货,13,20180530
15,1584,224,1034,78,1211,-22,cu1806,华泰期货,上海大陆,鲁证期货,14,20180530
16,1500,444,902,141,1054,747,cu1806,永安期货,华泰期货,国贸期货,15,20180530
17,1289,1039,898,-108,992,-298,cu1806,华金期货,弘业期货,铜冠金源,16,20180530
18,1172,188,882,-122,980,67,cu1806,中粮期货,海通期货,永安期货,17,20180530
19,1139,660,799,-339,962,-145,cu1806,宏源期货,永安期货,一德期货,18,20180530
20,1096,240,767,20,866,110,cu1806,中融汇信,银河期货,中钢期货,19,20180530
21,1044,750,712,41,847,-58,cu1806,兴证期货,国投安信,中信建投,20,20180530

In [37]:
df, msg = futures.get_trade_rank('CZC', date='2018-05-30')
df[df.symbol=='AP']

D:\QuantosFinanceTerminal\python\lib\re.py:212: FutureWarning: split() requires a non-empty pattern match.
  return _compile(pattern, flags).split(string, maxsplit)

,名次,成交量期货公司,成交量,成交量增减,持买仓量期货公司,持买仓量,持买仓量增减,持卖仓量期货公司,持卖仓量,持卖仓量增减,symbol,date
0,1,海通期货,"157,955","-2,663",海通期货,"42,771","3,342",海通期货,"43,889","1,843",AP,2018-05-30
1,2,招商期货,"67,527","-12,527",华泰期货,"21,091","-1,093",华泰期货,"20,927","-1,991",AP,2018-05-30
2,3,徽商期货,"66,887","-29,680",招商期货,"17,302","-3,063",招商期货,"20,519","-2,788",AP,2018-05-30
3,4,光大期货,"66,322","-10,134",永安期货,"17,193",784,中信期货,"15,779",716,AP,2018-05-30
4,5,华泰期货,"64,188","-11,979",兴证期货,"13,338",-509,申银万国,"14,773",-896,AP,2018-05-30
5,6,方正中期,"42,133","-13,267",东航期货,"13,090",-14,徽商期货,"14,019","-1,425",AP,2018-05-30
6,7,华安期货,"42,080","-16,355",徽商期货,"12,258","-1,352",银河期货,"13,667",-900,AP,2018-05-30
7,8,西部期货,"38,400","-9,005",申银万国,"11,634",-455,方正中期,"13,090",-495,AP,2018-05-30
8,9,申银万国,"34,285","-9,595",光大期货,"11,474",137,国泰君安,"12,804",-542,AP,2018-05-30
9,10,中信建投,"33,675","-16,063",东证期货,"11,173",-272,永安期货,"12,439",157,AP,2018-05-30
10,11,中信期货,"32,228","-5,771",西部期货,"10,610","-4,589",西部期货,"11,909","-4,337",AP,2018-05-30
11,12,国泰君安,"30,350","-13,178",中信期货,"10,564","1,012",光大期货,"11,696",35,AP,2018-05-30
12,13,国投安信期货,"28,477","-9,863",银河期货,"10,534",-800,南华期货,"9,720",-888,AP,2018-05-30
13,14,创元期货,"27,864","-16,414",国泰君安,"10,144",-366,中信建投,"9,439","-1,208",AP,2018-05-30
14,15,国富期货,"27,392","-2,856",中信建投,"10,127",-747,广发期货,"7,847",-634,AP,2018-05-30
15,16,中辉期货,"26,600","-20,959",浙商期货,"9,630",-32,东证期货,"7,840",42,AP,2018-05-30
16,17,安粮期货,"25,948","-8,086",中辉期货,"9,293",-155,国投安信期货,"7,295",-619,AP,2018-05-30
17,18,兴证期货,"25,875","-10,010",国富期货,"8,581",-888,兴证期货,"7,085",418,AP,2018-05-30
18,19,宏源期货,"24,815","-12,398",新湖期货,"8,282",-189,浙商期货,"7,014",156,AP,2018-05-30

In [39]:
df, msg = futures.get_trade_rank('DCE', date='2018-05-30')
df[df.symbol == 'i1901']

,名次,成交量期货公司,成交量,成交量增减,持买单量期货公司,持买单量,持买单量增减,持卖单量期货公司,持卖单量,持卖单量增减,symbol,date
0,1,东证期货,"12,950","2,547",国泰君安,"11,517",815,永安期货,"11,308","1,506",i1901,2018-05-30
1,2,海通期货,"9,148",581,广发期货,"8,381",-27,南华期货,"8,176",-48,i1901,2018-05-30
2,3,广发期货,"7,183","-1,547",银河期货,"8,171","1,031",中信期货,"7,237",-703,i1901,2018-05-30
3,4,中辉期货,"6,940","3,033",中信期货,"4,865",-938,银河期货,"4,613",-248,i1901,2018-05-30
4,5,中信期货,"6,539","-2,020",申银万国,"4,864",52,徽商期货,"4,551",29,i1901,2018-05-30
5,6,光大期货,"6,061",-443,永安期货,"4,516",344,华泰期货,"3,743",212,i1901,2018-05-30
6,7,国泰君安,"5,231","1,003",海通期货,"4,318",588,中辉期货,"3,705","2,645",i1901,2018-05-30
7,8,长江期货,"4,406","1,599",东证期货,"3,779",-738,东证期货,"3,429",-696,i1901,2018-05-30
8,9,永安期货,"3,880","1,212",华泰期货,"2,688",162,中财期货,"3,224",-75,i1901,2018-05-30
9,10,宏源期货,"3,216",854,一德期货,"2,645",-33,海通期货,"3,208",370,i1901,2018-05-30
10,11,银河期货,"2,871",-143,华龙期货,"2,416","1,008",国泰君安,"2,829",-36,i1901,2018-05-30
11,12,华安期货,"2,811",225,中辉期货,"2,335",-221,一德期货,"2,765",-155,i1901,2018-05-30
12,13,深圳瑞龙,"2,624",56,光大期货,"2,310",-870,中粮期货,"2,475",44,i1901,2018-05-30
13,14,华龙期货,"2,608",825,中信建投,"1,939",-2,国贸期货,"2,439",-36,i1901,2018-05-30
14,15,中财期货,"2,261",233,宏源期货,"1,769",-451,申银万国,"2,056",1,i1901,2018-05-30
15,16,安粮期货,"1,919",262,东吴期货,"1,556",-41,北京首创,"1,867",106,i1901,2018-05-30
16,17,西部期货,"1,782",-86,国投安信,"1,492",199,光大期货,"1,761","-1,007",i1901,2018-05-30
17,18,东航期货,"1,638",-597,国贸期货,"1,412",447,海证期货,"1,752",100,i1901,2018-05-30
18,19,中信建投,"1,462",-42,中财期货,"1,285",-16,广发期货,"1,715",-866,i1901,2018-05-30
19,20,英大期货,"1,400",514,徽商期货,"1,281",206,东海期货,"1,690",-83,i1901,2018-05-30

In [42]:
df, msg = futures.get_trade_rank('CFE', date='2018-05-30')
df[df.symbol == 'T1806']

,symbol,名次,成交量期货公司,成交量增减,成交量,持买单量期货公司,持买单量增减,持买单量,持卖单量期货公司,持卖单量增减,持卖单量,date
0,T1806,1,国泰君安,4064,4091,平安期货,-48,130,国金期货,-38,118,2018-05-30
1,T1806,2,广发期货,970,1300,国泰君安,-2037,60,永安期货,-76,34,2018-05-30
2,T1806,3,天风期货,670,681,南华期货,-271,30,中信期货,-88,20,2018-05-30
3,T1806,4,南华期货,465,565,方正中期,-20,16,天风期货,-330,20,2018-05-30
4,T1806,5,海通期货,510,522,永安期货,-6,0,光大期货,-1,15,2018-05-30
5,T1806,6,国金期货,176,216,鲁证期货,-1,0,国泰君安,-2038,12,2018-05-30
6,T1806,7,乾坤期货,160,160,光大期货,-20,0,宏源期货,0,12,2018-05-30
7,T1806,8,中信期货,-56,131,东海期货,-2,0,国海良时,0,3,2018-05-30
8,T1806,9,永安期货,16,84,浙商期货,0,0,同信久恒,0,1,2018-05-30
9,T1806,10,国投安信,62,68,华泰期货,-1,0,华信期货,0,1,2018-05-30
10,T1806,11,平安期货,-93,61,五矿经易,-3,0,南华期货,-272,0,2018-05-30
11,T1806,12,上海东证,-94,42,广发期货,-650,0,鲁证期货,-1,0,2018-05-30
12,T1806,13,华西期货,8,30,中信期货,-43,0,东海期货,0,0,2018-05-30
13,T1806,14,华安期货,16,25,金瑞期货,0,0,浙商期货,0,0,2018-05-30
14,T1806,15,渤海期货,-7,23,新世纪,-1,0,华泰期货,-8,0,2018-05-30
15,T1806,16,宏源期货,-4,22,兴证期货,-10,0,五矿经易,0,0,2018-05-30
16,T1806,17,光大期货,-34,21,格林大华,0,0,广发期货,-650,0,2018-05-30
17,T1806,18,兴证期货,-51,21,同信久恒,0,0,金瑞期货,-1,0,2018-05-30
18,T1806,19,银河期货,-15,21,银河期货,-1,0,新世纪,-1,0,2018-05-30
19,T1806,20,东航期货,-19,21,北京首创,-2,0,兴证期货,-1,0,2018-05-30

In [43]:
from opendatatools import fx

In [44]:
df,msg = fx.get_hist_cny_cpr()

In [49]:
df[['date', 'USD/CNY']]

           date USD/CNY
0    2018-06-15  6.4306
1    2018-06-14  6.3962
2    2018-06-13  6.4156
3    2018-06-12  6.4121
4    2018-06-11  6.4064
5    2018-06-08  6.4003
6    2018-06-07  6.3919
7    2018-06-06  6.4040
8    2018-06-05  6.4157
9    2018-06-04  6.4208
10   2018-06-01  6.4078
11   2018-05-31  6.4144
12   2018-05-30  6.4207
13   2018-05-29  6.4021
14   2018-05-28  6.3962
15   2018-05-25  6.3867
16   2018-05-24  6.3816
17   2018-05-23  6.3773
18   2018-05-22  6.3799
19   2018-05-21  6.3852
20   2018-05-18  6.3763
21   2018-05-17  6.3679
22   2018-05-16  6.3745
23   2018-05-15  6.3486
24   2018-05-14  6.3345
25   2018-05-11  6.3524
26   2018-05-10  6.3768
27   2018-05-09  6.3733
28   2018-05-08  6.3674
29   2018-05-07  6.3584
..          ...     ...
214  2017-07-31  6.7283
215  2017-07-28  6.7373
216  2017-07-27  6.7307
217  2017-07-26  6.7529
218  2017-07-25  6.7485
219  2017-07-24  6.7410
220  2017-07-21  6.7415
221  2017-07-20  6.7464
222  2017-07-19  6.7451
223  2017-07-18  6.7611
224  2017-07-17  6.7562
225  2017-07-14  6.7774
226  2017-07-13  6.7802
227  2017-07-12  6.7868
228  2017-07-11  6.7983
229  2017-07-10  6.7964
230  2017-07-07  6.7914
231  2017-07-06  6.7953
232  2017-07-05  6.7922
233  2017-07-04  6.7889
234  2017-07-03  6.7772
235  2017-06-30  6.7744
236  2017-06-29  6.7940
237  2017-06-28  6.8053
238  2017-06-27  6.8292
239  2017-06-26  6.8220
240  2017-06-23  6.8238
241  2017-06-22  6.8197
242  2017-06-21  6.8193
243  2017-06-20  6.8096

[244 rows x 2 columns]

In [50]:
df, msg = fx.get_his_shibor()
df

,1M,1W,1Y,2W,3M,6M,9M,ON,showDateCN,showDateEN
0,4.1260,2.8100,4.3990,3.6630,4.3520,4.3320,4.3530,2.5920,2018-06-15,15 Jun 2018
1,4.1070,2.8090,4.4000,3.6650,4.3510,4.3230,4.3520,2.5910,2018-06-14,14 Jun 2018
2,4.1010,2.8000,4.4000,3.6560,4.3510,4.3210,4.3500,2.5890,2018-06-13,13 Jun 2018
3,4.0870,2.7890,4.3990,3.6590,4.3520,4.3170,4.3490,2.5840,2018-06-12,12 Jun 2018
4,4.0830,2.7760,4.3980,3.6560,4.3530,4.3130,4.3480,2.5730,2018-06-11,11 Jun 2018
5,4.0540,2.7720,4.3970,3.6620,4.3510,4.3110,4.3450,2.5630,2018-06-08,08 Jun 2018
6,4.0500,2.7830,4.3950,3.6750,4.3500,4.3070,4.3440,2.5550,2018-06-07,07 Jun 2018
7,4.0420,2.7920,4.3940,3.6890,4.3540,4.3070,4.3430,2.5620,2018-06-06,06 Jun 2018
8,4.0250,2.8020,4.3940,3.7130,4.3460,4.3080,4.3430,2.5840,2018-06-05,05 Jun 2018
9,3.9930,2.8180,4.3930,3.7270,4.3410,4.3070,4.3400,2.5990,2018-06-04,04 Jun 2018
10,3.9660,2.8970,4.3910,3.7380,4.3390,4.3040,4.3360,2.8010,2018-06-01,01 Jun 2018
11,3.9050,2.8980,4.3880,3.7350,4.3290,4.2960,4.3330,2.8310,2018-05-31,31 May 2018
12,3.8720,2.8950,4.3850,3.7290,4.3120,4.2890,4.3300,2.8840,2018-05-30,30 May 2018
13,3.8500,2.8480,4.3810,3.7150,4.2820,4.2650,4.3260,2.7420,2018-05-29,29 May 2018
14,3.8400,2.8060,4.3760,3.6900,4.2420,4.2430,4.3180,2.5330,2018-05-28,28 May 2018
15,3.8470,2.7940,4.3730,3.6870,4.2150,4.2290,4.3150,2.5280,2018-05-25,25 May 2018
16,3.8450,2.7510,4.3710,3.6800,4.1930,4.2150,4.3110,2.5300,2018-05-24,24 May 2018
17,3.8410,2.7520,4.3730,3.6790,4.1730,4.2110,4.3090,2.5300,2018-05-23,23 May 2018
18,3.8380,2.7550,4.3710,3.6730,4.1600,4.2070,4.3070,2.5250,2018-05-22,22 May 2018
19,3.8320,2.7560,4.3710,3.6690,4.1510,4.2070,4.3090,2.5270,2018-05-21,21 May 2018
20,3.8330,2.7680,4.3700,3.6560,4.1470,4.2020,4.3090,2.5630,2018-05-18,18 May 2018
21,3.8310,2.8030,4.3660,3.6490,4.1010,4.1940,4.3060,2.5970,2018-05-17,17 May 2018
22,3.8250,2.8350,4.3630,3.6490,4.0820,4.1880,4.3040,2.7660,2018-05-16,16 May 2018
23,3.8130,2.7730,4.3550,3.6110,4.0720,4.1720,4.2970,2.6410,2018-05-15,15 May 2018
24,3.8010,2.7380,4.3530,3.5940,4.0600,4.1620,4.2890,2.5800,2018-05-14,14 May 2018
25,3.7990,2.7130,4.3480,3.6060,4.0500,4.1550,4.2850,2.4870,2018-05-11,11 May 2018
26,3.8060,2.7230,4.3460,3.6210,4.0340,4.1520,4.2820,2.5090,2018-05-10,10 May 2018
27,3.8160,2.7340,4.3460,3.6390,4.0130,4.1520,4.2780,2.5200,2018-05-09,09 May 2018
28,3.8290,2.7510,4.3480,3.6630,3.9994,4.1510,4.2825,2.5750,2018-05-08,08 May 2018
29,3.8400,2.7680,4.3490,3.6920,3.9943,4.1500,4.2850,2.5820,2018-05-07,07 May 2018
...,...,...,...,...,...,...,...,...,...,...
219,3.8890,2.8820,4.3881,3.7050,4.2561,4.3493,4.3790,2.8060,2017-07-31,31 Jul 2017
220,3.8915,2.8770,4.3892,3.7030,4.2514,4.3481,4.3761,2.8152,2017-07-28,28 Jul 2017
221,3.8994,2.8626,4.3908,3.7030,4.2500,4.3432,4.3760,2.7860,2017-07-27,27 Jul 2017
222,3.9086,2.8490,4.3904,3.6997,4.2510,4.3434,4.3759,2.7250,2017-07-26,26 Jul 2017
223,3.9205,2.8490,4.3935,3.6980,4.2540,4.3444,4.3770,2.7147,2017-07-25,25 Jul 2017
224,3.9300,2.8450,4.3960,3.6990,4.2550,4.3453,4.3782,2.7080,2017-07-24,24 Jul 2017
225,3.9497,2.8470,4.3977,3.7020,4.2550,4.3517,4.3804,2.7330,2017-07-21,21 Jul 2017
226,3.9792,2.8530,4.3976,3.7050,4.2551,4.3597,4.3812,2.7534,2017-07-20,20 Jul 2017
227,3.9920,2.8420,4.4008,3.6973,4.2600,4.3685,4.3854,2.7220,2017-07-19,19 Jul 2017
228,3.9989,2.8293,4.4034,3.6926,4.2666,4.3692,4.3879,2.7010,2017-07-18,18 Jul 2017
229,4.0120,2.8057,4.4050,3.6809,4.2706,4.3790,4.3929,2.6329,2017-07-17,17 Jul 2017
230,4.0397,2.8030,4.4051,3.6860,4.2810,4.3850,4.3950,2.6270,2017-07-14,14 Jul 2017
231,4.0675,2.8184,4.4074,3.6940,4.2900,4.3879,4.3978,2.6590,2017-07-13,13 Jul 2017
232,4.0848,2.8156,4.4066,3.6918,4.3088,4.3909,4.3961,2.6460,2017-07-12,12 Jul 2017
233,4.1205,2.8120,4.4075,3.6910,4.3212,4.3995,4.3980,2.6210,2017-07-11,11 Jul 2017
234,4.1610,2.7840,4.4073,3.6930,4.3421,4.4006,4.3980,2.5490,2017-07-10,10 Jul 2017
235,4.2150,2.7858,4.4091,3.6990,4.3607,4.4100,4.3980,2.5330,2017-07-07,07 Jul 2017
236,4.2762,2.7919,4.4108,3.7080,4.3876,4.4274,4.3990,2.5473,2017-07-06,06 Jul 2017
237,4.3380,2.8028,4.4130,3.7206,4.4285,4.4431,4.4000,2.5830,2017-07-05,05 Jul 2017
238,4.3987,2.8299,4.4162,3.7342,4.4606,4.4569,4.4000,2.6897,2017-07-04,04 Jul 2017
239,4.4252,2.8410,4.4193,3.7450,4.4857,4.4700,4.4005,2.7200,2017-07-03,03 Jul 2017
240,4.4608,2.8455,4.4203,3.7510,4.5009,4.4743,4.4006,2.6180,2017-06-30,30 Jun 2017
241,4.4955,2.8507,4.4193,3.7595,4.5211,4.4833,4.4020,2.5390,2017-06-29,29 Jun 2017
242,4.5219,2.8577,4.4299,3.7620,4.5522,4.4998,4.4086,2.5596,2017-06-28,28 Jun 2017
243,4.5480,2.8834,4.4330,3.7650,4.5833,4.5134,4.4110,2.6260,2017-06-27,27 Jun 2017
244,4.5738,2.9063,4.4369,3.7640,4.6125,4.5210,4.4154,2.7170,2017-06-26,26 Jun 2017
245,4.5890,2.9360,4.4345,3.7634,4.6300,4.5277,4.4167,2.8100,2017-06-23,23 Jun 2017
246,4.6070,2.9432,4.4342,3.7333,4.6521,4.5306,4.4177,2.8690,2017-06-22,22 Jun 2017
247,4.6322,2.9429,4.4359,3.6870,4.6880,4.5349,4.4181,2.8890,2017-06-21,21 Jun 2017
248,4.6584,2.9300,4.4368,3.6501,4.7141,4.5389,4.4140,2.8776,2017-06-20,20 Jun 2017

In [52]:
df = fx.get_realtime_shibor()
df

,shibIdUpDown,shibIdUpDownNum,shibor,termCode,termCodePath,time
0,0.10,0.1,2.5920,O/N,O/N,2018-06-15 11:00
1,0.10,0.1,2.8100,1W,1W,2018-06-15 11:00
2,0.20,-0.2,3.6630,2W,2W,2018-06-15 11:00
3,1.90,1.9,4.1260,1M,1M,2018-06-15 11:00
4,0.10,0.1,4.3520,3M,3M,2018-06-15 11:00
5,0.90,0.9,4.3320,6M,6M,2018-06-15 11:00
6,0.10,0.1,4.3530,9M,9M,2018-06-15 11:00
7,0.10,-0.1,4.3990,1Y,1Y,2018-06-15 11:00

In [53]:
df = fx.get_cny_spot_price()
df

     askPrc   bidPrc     ccyPair midprice                 time
0    6.4217   6.4183     USD/CNY      ---  2018-06-15 17:55:23
1    7.4513   7.4480     EUR/CNY      ---  2018-06-15 17:55:23
2    5.8098   5.8070  100JPY/CNY      ---  2018-06-15 17:55:23
3   0.81805  0.81770     HKD/CNY      ---  2018-06-15 17:55:23
4    8.5264   8.5215     GBP/CNY      ---  2018-06-15 17:55:23
5    4.7945   4.7915     AUD/CNY      ---  2018-06-15 17:55:23
6    4.4626   4.4598     NZD/CNY      ---  2018-06-15 17:55:23
7    4.7661   4.7656     SGD/CNY      ---  2018-06-15 17:55:23
8    6.4414   6.4380     CHF/CNY      ---  2018-06-15 17:55:23
9    4.8868   4.8838     CAD/CNY      ---  2018-06-15 17:55:23
10  0.62160  0.61750     CNY/MYR      ---  2018-06-15 17:55:23
11   9.7981   9.7600     CNY/RUB      ---  2018-06-15 17:55:23
12   2.0911   2.0902     CNY/ZAR      ---  2018-06-15 17:55:23
13   170.77   170.65     CNY/KRW      ---  2018-06-15 17:55:23
14  0.57228  0.57195     CNY/AED      ---  2018-06-15 17:55:23
15  0.58431  0.58398     CNY/SAR      ---  2018-06-15 17:55:23
16  43.4939  43.4556     CNY/HUF      ---  2018-06-15 17:55:23
17  0.57426  0.57387     CNY/PLN      ---  2018-06-15 17:55:23
18   1.0003   0.9997     CNY/DKK      ---  2018-06-15 17:55:23
19   1.3650   1.3640     CNY/SEK      ---  2018-06-15 17:55:23
20   1.2670   1.2660     CNY/NOK      ---  2018-06-15 17:55:23
21  0.73859  0.73859     CNY/TRY      ---  2018-06-15 17:55:23
22   3.2536   3.2524     CNY/MXN      ---  2018-06-15 17:55:23
23   5.0526   5.0474     CNY/THB      ---  2018-06-15 17:55:23